.container-1{
    display: flex;
    margin-top: 130px;
    width: 800px;
    height: 250px;
    margin-left: 20%; 
        flex:2;
        order:1;
        background-color: hsl(0, 0%, 100%);
}
.content-div{
    width: 500px;
    height: 150px;
    display: flex;
    flex-direction: column;
    margin-left: 4%;   
}
.image-container{
    width: 250px;
    height: 250px;
}
.michelle-container{
    display: flex;
    flex-direction: row;
}
.profile-image{
    width: 60px;
    height: 50px;
    border-radius: 25px;
    padding-top: 5%;
}
.profile-share{
    width: 20px;
    height: 20px;
    margin-left: 50%;
    margin-top: 5%;
}
.background{
    background-color: hsl(212, 23%, 69%);   
}
/* .icon-f{
    width: 20px;
    height: 20px;
    background-color: hsl(219, 17%, 35%);
    margin-left: 6%;
}
.icon-t{
    width: 20px;
    height: 20px;
    background-color: hsl(219, 17%, 35%);
    margin-left: 6%;
}
.icon-p{
    width: 20px;
    height: 20px;
    background-color: hsl(219, 17%, 35%);
    margin-left: 6%;
}
.share{
    background-color: hsl(219, 17%, 35%);
    width: 300%;
    height: 10%;
} */